@use 'variables' as *;

//color
.C-900 {color: #1b1b1b;}
.C-700 {color:#6E6E6E}
.C-500 {color: #dededea7;}
.C-300 {color: #fff;}
//color bg
.BG-900 {background-color: #1b1b1b;}
.BG-700 {background-color:#6E6E6E}
.BG-500 {background-color: #dededea7;}
.BG-300 {background-color: #fff;}