//Import Fonts
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

//Main Colors
$color-900: #1b1b1b;
$color-700: #6E6E6E;
$color-500: #dededea7;
$color-300: #fff;

//Fonts
$logo: "Bebas Neue", sans-serif;
$text: "Montserrat", sans-serif;

$fw-main: 700;
$fw-submain: 500;