.h-80{
    min-height: 80vh;
}

.h-60 {
    min-height: 60vh;
}

.w-20 {
    width: 20vw;
}

.w-40 {
    width: 40vw;
}

.width {
    width: fit-content;
}

.width-full {
    min-width: 100%;
}

.inline {
    margin-inline: auto;
}