@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  color: inherit;
}

.h-80 {
  min-height: 80vh;
}

.h-60 {
  min-height: 60vh;
}

.w-20 {
  width: 20vw;
}

.w-40 {
  width: 40vw;
}

.width {
  width: fit-content;
}

.width-full {
  min-width: 100%;
}

.inline {
  margin-inline: auto;
}

.C-900 {
  color: #1b1b1b;
}

.C-700 {
  color: #6E6E6E;
}

.C-500 {
  color: rgba(222, 222, 222, 0.6549019608);
}

.C-300 {
  color: #fff;
}

.BG-900 {
  background-color: #1b1b1b;
}

.BG-700 {
  background-color: #6E6E6E;
}

.BG-500 {
  background-color: rgba(222, 222, 222, 0.6549019608);
}

.BG-300 {
  background-color: #fff;
}

.logo {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3rem;
}

.title, .text, .sub-text {
  font-family: "Montserrat", sans-serif;
}

.text, .sub-text {
  font-weight: 500;
}

.title {
  font-weight: 700;
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-width {
  max-width: 36ch;
}

.button {
  color: #fff;
  background-color: #1b1b1b;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-decoration: none;
  padding: 1rem;
  border-radius: 50px;
  text-transform: uppercase;
}

.button-small {
  color: #fff;
  background-color: #1b1b1b;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 25px;
  text-transform: uppercase;
}

.button:hover {
  background-color: #343434;
}

.highlight {
  background-color: rgba(222, 222, 222, 0.6549019608);
  color: #6E6E6E;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding: 8px;
  text-transform: uppercase;
  font-size: 0.75rem;
  border-radius: 5px;
  outline: 1px solid rgba(255, 255, 255, 0.4588235294);
}

.input {
  max-width: fit-content;
  min-height: 50vh;
  min-width: 25vw;
  border: 1px solid rgb(215, 215, 215);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.fld-con {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
}

.input-name {
  font-family: "Montserrat", sans-serif;
  color: #1b1b1b;
  line-height: 0;
  font-weight: 700;
}

.input-fld {
  font-family: "Montserrat", sans-serif;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #6E6E6E;
}

.card-highlight {
  background-color: rgba(222, 222, 222, 0.6549019608);
  padding: 0.5em 1em;
  width: fit-content;
  border-radius: 5px;
  font-size: 0.75rem;
}

.card-highlight .highlight-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.card-highlight .highlight-text {
  font-family: "Montserrat", sans-serif;
}

.card {
  width: fit-content;
  cursor: pointer;
}

.card-img {
  width: 400px;
  height: 500px;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 1rem;
  position: relative;
}

.card-txt {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: "Montserrat", sans-serif;
}

.card-title {
  color: #6E6E6E;
}

.card-price {
  font-weight: 700;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.b-bottom {
  border-bottom: 2px solid black;
}

.border {
  border: 2px solid black;
}

.radius {
  border-radius: 10px;
}

.shopping-cart {
  border: 1px solid rgb(218, 218, 218);
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

table {
  border-collapse: collapse;
}

td, th {
  padding: 1em;
  border: 2px solid black;
}

.wrapper {
  max-width: 1400px;
  margin-inline: auto;
  padding: 1em 0;
}

.flex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.flex-row-around {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gap {
  gap: 10px;
}

.p-1 {
  padding: 0.5em;
}

.p-2 {
  padding: 1em;
}

.p-3 {
  padding: 1.5em;
}

.p-4 {
  padding: 2em;
}

.m-1 {
  margin: 0.5em 0;
}

.m-2 {
  margin: 1em;
}

.bg-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(25%);
}